.header-border {
  border-bottom: 1px solid #ececec;
}

.header-container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: none;
    // justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 46px;
  }

  &__link {
    color: var(--main-color);
    font-weight: 500;
    font-size: 14px;

    &--is_active::after {
      content: '';
      width: 53px;
      height: 4px;
      display: block;
      border-radius: 2px;
      background-color: var(--brand-color);
      position: absolute;
      top: 76px;
    }

    &:hover,
    &:focus {
      transition-property: background-color, color, box-shadow, border, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;
      color: var(--brand-color);
      fill: var(--brand-color);
    }
  }
}

.header-contact {
  display: none;
  // align-items: center;

  &__icon {
    margin-right: 10px;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    color: var(--lorem-ipsum-color);
    fill: var(--lorem-ipsum-color);
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      transition-property: background-color, color, box-shadow, border, fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0;
      color: var(--brand-color);
      fill: var(--brand-color);
    }
  }
}

// .mobile-icon {
//   display: block;
//   width: 40px;
//   height: 40px;
//   padding: 12px 8px;

//   @media (min-width: 768px) {
//     display: none;
//   }

//   &:hover,
//   &:focus-within {
//     & .mobile-icon__burger {
//       fill: var(--brand-color);
//     }
//   }
//   &__burger {
//     display: block;
//     fill: var(--main-color);
//   }
// }

// TABLET   ! ! ! ! ! !

@media screen and (min-width: 768px) {
  .header-border {
    border-bottom: 1px solid #ececec;
  }

  .header-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      margin-left: 93px;
      display: flex;
      justify-content: space-between;
    }

    // &__item:not(:last-child) {
    //   margin-right: 46px;
    // }

    &__link {
      color: var(--main-color);
      font-weight: 500;
      font-size: 14px;

      &--is_active::after {
        content: '';
        width: 53px;
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: var(--brand-color);
        position: absolute;
        top: 76px;
      }

      &:hover,
      &:focus {
        transition-property: background-color, color, box-shadow, border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
        color: var(--brand-color);
        fill: var(--brand-color);
      }
    }
  }

  .header-contact {
    display: block;
    align-items: center;

    &__icon {
      margin-right: 10px;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      color: var(--lorem-ipsum-color);
      fill: var(--lorem-ipsum-color);
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;

      &:hover,
      &:focus {
        transition-property: background-color, color, box-shadow, border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
        color: var(--brand-color);
        fill: var(--brand-color);
      }
    }
  }
}

// DESKTOP    !!!!!

@media screen and (min-width: 1200px) {
  .header-border {
    border-bottom: 1px solid #ececec;
  }

  .header-container {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      display: flex;
      justify-content: space-between;
    }

    // &__item:not(:last-child) {
    //   margin-right: 46px;
    // }

    &__link {
      color: var(--main-color);
      font-weight: 500;
      font-size: 14px;

      &--is_active::after {
        content: '';
        width: 53px;
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: var(--brand-color);
        position: absolute;
        top: 76px;
      }

      &:hover,
      &:focus {
        transition-property: background-color, color, box-shadow, border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
        color: var(--brand-color);
        fill: var(--brand-color);
      }
    }
  }

  .header-contact {
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 10px;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      color: var(--lorem-ipsum-color);
      fill: var(--lorem-ipsum-color);
      font-weight: 500;
      font-size: 14px;
      display: flex;
      align-items: center;

      &:hover,
      &:focus {
        transition-property: background-color, color, box-shadow, border, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 0;
        color: var(--brand-color);
        fill: var(--brand-color);
      }
    }
  }
}
