.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
    & .menu-toggle__burger {
      fill: var(--brand-color);
    }
  }
  &__burger {
    display: block;
    fill: var(--main-color);
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--text_on_background-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu-container {
  height: 100%;
}

.mobile-menu {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // padding-bottom: 45px;

  &__link {
    display: block;
    padding: 10px;
    color: var(--main-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  &__adress {
    display: block;
  }

  &__item {
    padding-bottom: 32px;
  }

  &__tel {
    color: var(--brand-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
  }

  &__mail {
    color: var(--lorem-ipsum-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
  }
}

.mobile-menu-social {
  display: flex;
  padding-bottom: 45px;

  &__item {
    // display: inline-block;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
    padding-right: 10px;

    &:last-child {
      border: none;
      margin: none;
      padding: none;
    }

    &--colorBrand {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: var(--brand-color);
    }
  }
}
