.section {
  padding: 94px 0px;

  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding-bottom: 32px;
  }
  &--dark {
    background-color: var(--our-team-color);
  }
}
.container {
  max-width: 1200px;
  margin: 0px auto;

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
