.section {
  padding: 60px 15px;

  &__header {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    padding-bottom: 32px;

    @media (min-width: 768px) {
      font-size: 36px;
      line-height: 42px;
    }
  }
  &--dark {
    background-color: var(--our-team-color);
  }

  &--mobile {
    display: none;
  }

  .--sectionSmall {
    padding-bottom: 0px;
  }
}
.container {
  max-width: 1200px;
  margin: 0px auto;

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1199px;
    // margin: 0px auto;

    &__footer {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      padding: 0 76px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 60px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0px auto;

    &__footer {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .section {
    padding: 94px 0px;

    &--mobile {
      display: block;
      padding: 94px 0px;
    }
  }
}
