:root {
  --brand-color: #2196f3;
  --main-color: #212121;
  --background-color: #2f303a;
  --text_on_background-color: #ffffff;
  --filter_background-color: #f5f4fa;
  --lorem-ipsum-color: #757575;
  --our-team-color: #f5f4fa;
  --icons-color: #afb1b8;
  --icons-close-color: #000000;
  --brand-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
}
